In [9]:
import pandas as pd
import numpy as np
import re

In [2]:
외국인역대성적 = pd.read_csv('kbo_yearly_foreigners_2011_2018.csv')
외국인메이저성적 = pd.read_csv('fangraphs_foreigners_2011_2018.csv')
외국인스탯캐스터 = pd.read_csv('baseball_savant_foreigners_2011_2018.csv')
신규외국인성적 = pd.read_csv('fangraphs_foreigners_2019.csv')
신규외국인스텟캐스터 = pd.read_csv('baseball_savant_foreigners_2019.csv')

In [ ]:
display(외국인역대성적.head())
print('*'*50)
display(외국인메이저성적.head())
print('*'*50)
display(외국인스탯캐스터.head())
print('*'*50)
display(신규외국인성적.head())
print('*'*50)
display(신규외국인스텟캐스터.head())
print('*'*50)

# 외국인 투수 승패 크롤링

In [3]:
name_list = list(set(외국인역대성적['pitcher_name']))

In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.error   import HTTPError
from urllib.error   import URLError

In [109]:
from selenium import webdriver
import time
path = './driver/chromedriver.exe'
driver = webdriver.Chrome(path)

In [161]:
def page_search(start,end,dic):
    for page_num in range(start,end):
        print(page_num)
        page3 = driver.find_elements_by_css_selector('.paging')
        page3[0].find_elements_by_tag_name('a')[page_num].click()
        time.sleep(1.5)
        page2 = driver.find_elements_by_css_selector('.tData01')
        a = page2[0].find_element_by_tag_name('tbody').find_elements_by_tag_name('tr')
        for idx,value in enumerate(a):
            name = value.find_elements_by_tag_name('td')[1].text
            for key in list(dic.keys()):
                if key == name:
                    print(name)
                    dic[key] = [str(value.find_elements_by_tag_name('td')[5].text), 
                                str(value.find_elements_by_tag_name('td')[6].text)]

In [162]:
def player_win(year,dic):
    driver.get('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx')
    page1 = driver.find_elements_by_tag_name('option')
    for i in page1:
            if i.text == str(year):
                print(year)
                i.click()
                time.sleep(1.5)
                page = driver.find_elements_by_css_selector('.tData01')
                k = page[0].find_element_by_tag_name('thead').find_element_by_tag_name('tr').find_elements_by_tag_name('th')
                k[5].click()
                time.sleep(1.5)
                page3 = driver.find_elements_by_css_selector('.paging')
                page_search(1,6,dic)
                page3 = driver.find_elements_by_css_selector('.paging')
                page3[0].find_elements_by_tag_name('a')[-1].click()
                time.sleep(1.5)
                page3 = driver.find_elements_by_css_selector('.paging')
                page_num = len(page3[0].find_elements_by_tag_name('a')[2:-1])
                print(page_num)
                page_search(2,page_num+2,dic)
                break
    return    dic

In [163]:
names=[]
def setName(cnt):
    global names
    for i in range (11,cnt+1):
        names.append('name_dict_{}'.format(i)) 
    for name1 in names:
        globals()[name1] = {}
        for i2 in name_list:
            globals()[name1][i2] = 0
setName(18)

In [164]:
year_list = [i for i in range(2011,2019)]

In [165]:
def save(dic_list, year_list):
    for dic,year in zip(dic_list, year_list):
        print(dic)
        dic = player_win(year,eval(dic))

In [166]:
save(names, year_list)

name_dict_11
2011
1
니퍼트
리즈
2
3
4
5
2
2
3
name_dict_12
2012
1
탈보트
니퍼트
소사
2
리즈
3
4
5
2
2
3
name_dict_13
2013
1
세든
니퍼트
리즈
소사
레이예스
밴덴헐크
2
이브랜드
3
아담
4
올슨
5
2
2
3
name_dict_14
2014
1
니퍼트
밴덴헐크
소사
웨버
2
앨버스
볼스테드
티포드
어센시오
3
마야
레이예스
울프
4
토마스
5
2
2
3
name_dict_15
2015
1
해커
피가로
피어밴드
린드블럼
클로이드
레일리
스틴슨
루카스
소사
탈보트
2
세든
니퍼트
로저스
스와잭
3
에반
험버
4
마야
5
어윈
4
2
3
4
5
name_dict_16
2016
1
니퍼트
보우덴
헥터
해커
지크
린드블럼
소사
레일리
카스티요
2
허프
피어밴드
코엘로
마리몬
세든
3
웹스터
4
플란데
로저스
서캠프
코프랜드
5
피노
4
2
레온
3
4
5
name_dict_17
2017
1
헥터
니퍼트
레일리
맨쉽
해커
소사
브리검
다이아몬드
오간도
팻딘
2
피어밴드
허프
비야누에바
3
린드블럼
보우덴
4
레나도
5
3
2
오설리반
3
4
name_dict_18
2018
1
후랭코프
린드블럼
샘슨
헥터
레일리
브리검
소사
윌슨
산체스
아델만
니퍼트
2
피어밴드
보니야
팻딘
듀브론트
베렛
로저스
해커
3
헤일
4
휠러
5
4
2
3
4
5

In [172]:
name_dict_13['해커'] = ['4','11']
name_dict_14['해커'] = ['8','8']

In [173]:
import numpy as np
# 딕셔너리랑 df랑 합치기
for dic,year in zip(names, year_list):
    for i in range(외국인역대성적.shape[0]):
        if 외국인역대성적.loc[i,'year'] == year:
            print(year)
            for key,value in eval(dic).items():
                if 외국인역대성적.loc[i,'pitcher_name'] == key:
                    if value != 0:
                        print(key, value)
                        외국인역대성적.loc[i,'2011년_승_패'] = str(' '.join(value))
                    else:
                        외국인역대성적.loc[i,'2011년_승_패'] = 0

2011
니퍼트 ['15', '6']
2011
리즈 ['11', '13']
2012
니퍼트 ['11', '10']
2012
리즈 ['5', '12']
2012
소사 ['9', '8']
2012
탈보트 ['14', '3']
2013
니퍼트 ['12', '4']
2013
레이예스 ['8', '13']
2013
리즈 ['10', '13']
2013
밴덴헐크 ['7', '9']
2013
세든 ['14', '6']
2013
소사 ['9', '9']
2013
아담 ['4', '8']
2013
올슨 ['1', '1']
2013
이브랜드 ['6', '14']
2013
해커 ['4', '11']
2014
니퍼트 ['14', '7']
2014
레이예스 ['2', '7']
2014
마야 ['2', '4']
2014
밴덴헐크 ['13', '4']
2014
볼스테드 ['5', '7']
2014
소사 ['10', '2']
2014
앨버스 ['6', '13']
2014
어센시오 ['4', '1']
2014
울프 ['2', '2']
2014
웨버 ['9', '6']
2014
토마스 ['2', '2']
2014
티포드 ['5', '6']
2014
해커 ['8', '8']
2015
니퍼트 ['6', '5']
2015
레일리 ['11', '9']
2015
로저스 ['6', '2']
2015
루카스 ['10', '11']
2015
린드블럼 ['13', '11']
2015
마야 ['2', '5']
2015
세든 ['7', '5']
2015
소사 ['10', '12']
2015
스와잭 ['5', '7']
2015
스틴슨 ['11', '10']
2015
어윈 ['1', '7']
2015
에반 ['4', '0']
2015
클로이드 ['11', '11']
2015
탈보트 ['10', '11']
2015
피가로 ['13', '7']
2015
피어밴드 ['13', '11']
2015
해커 ['19', '5']
2015
험버 ['3', '3']
2016
니퍼트 ['22', '3']
2016
레온 ['0', '1']
2016
레일리 ['8', '10']
2016
로저스 ['2', '3']
2016
린드블럼 ['10', '13']
2016
마리몬 ['6', '4']
2016
보우덴 ['18', '7']
2016
서캠프 ['2', '5']
2016
세든 ['5', '5']
2016
소사 ['10', '9']
2016
웹스터 ['4', '4']
2016
지크 ['10', '13']
2016
카스티요 ['7', '4']
2016
코엘로 ['6', '5']
2016
코프랜드 ['2', '3']
2016
플란데 ['2', '6']
2016
피노 ['2', '3']
2016
피어밴드 ['7', '13']
2016
해커 ['13', '3']
2016
허프 ['7', '2']
2016
헥터 ['15', '5']
2017
니퍼트 ['14', '8']
2017
다이아몬드 ['10', '7']
2017
레나도 ['2', '3']
2017
레일리 ['13', '7']
2017
린드블럼 ['5', '3']
2017
맨쉽 ['12', '4']
2017
보우덴 ['3', '5']
2017
브리검 ['10', '6']
2017
비야누에바 ['5', '7']
2017
소사 ['11', '11']
2017
오간도 ['10', '5']
2017
오설리반 ['0', '2']
2017
팻딘 ['9', '7']
2017
피어밴드 ['8', '10']
2017
해커 ['12', '7']
2017
허프 ['6', '4']
2017
헥터 ['20', '5']
2018
니퍼트 ['8', '8']
2018
듀브론트 ['6', '9']
2018
레일리 ['11', '13']
2018
로저스 ['5', '4']
2018
린드블럼 ['15', '4']
2018
베렛 ['6', '10']
2018
보니야 ['7', '10']
2018
브리검 ['11', '7']
2018
샘슨 ['13', '8']
2018
소사 ['9', '9']
2018
아델만 ['8', '12']
2018
팻딘 ['6', '7']
2018
피어밴드 ['8', '8']
2018
해커 ['5', '3']
2018
헥터 ['11', '10']
2018
후랭코프 ['18', '3']
2018
휠러 ['3', '9']
2018
산체스 ['8', '8']
2018
윌슨 ['9', '4']
2018
헤일 ['3', '4']

In [174]:
외국인역대성적.to_csv('kbo_yearly_foreigners_2011_2018_추가분.csv',mode='w',index=False,encoding='utf-8-sig')

In [175]:
외국인역대성적[외국인역대성적['2011년_승_패'] == 0]

Empty DataFrame
Columns: [pitcher_name, year, team, ERA, TBF, H, HR, BB, HBP, SO, year_born, 2011년_승_패]
Index: []

In [30]:
외국인역대성적 = pd.read_csv('kbo_yearly_foreigners_2011_2018_추가분.csv',encoding='utf-8-sig',engine='python',sep=',')
외국인역대성적.head()

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,2011년_승_패
0,니퍼트,2011,두산,2.55,763,150,8,64,10,150,NaN,15 6
1,니퍼트,2012,두산,3.20,785,156,15,68,8,126,NaN,11 10
2,니퍼트,2013,두산,3.58,482,108,7,34,4,104,NaN,12 4
3,니퍼트,2014,두산,3.81,760,186,17,48,6,158,NaN,14 7
4,니퍼트,2015,두산,5.10,404,104,4,33,4,76,NaN,6 5

In [36]:
외국인역대성적['승'] = 외국인역대성적['2011년_승_패'].apply(lambda x:str(x).split(' ')[0])
외국인역대성적['패'] = 외국인역대성적['2011년_승_패'].apply(lambda x:str(x).split(' ')[1])

외국인역대성적.drop('2011년_승_패',axis=1,inplace=True)

def winratio(x):
    return round(int(x['승']) / (int(x['승'])+int(x['패'])),3)

외국인역대성적['승률'] = 외국인역대성적.apply(lambda x:winratio(x),axis=1)

외국인역대성적['경기수'] =  외국인역대성적.apply(lambda x:int(x['승']) + int(x['패']),axis=1)

In [67]:
외국인역대성적.head()

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
0,니퍼트,2011,두산,2.55,763,150,8,64,10,150,NaN,15,6,0.714,21
1,니퍼트,2012,두산,3.20,785,156,15,68,8,126,NaN,11,10,0.524,21
2,니퍼트,2013,두산,3.58,482,108,7,34,4,104,NaN,12,4,0.750,16
3,니퍼트,2014,두산,3.81,760,186,17,48,6,158,NaN,14,7,0.667,21
4,니퍼트,2015,두산,5.10,404,104,4,33,4,76,NaN,6,5,0.545,11

In [78]:
def headtail10(df,text):
    display(df.sort_values(text,ascending=False).head(10))
    print('*'*20,'head','*'*20)
    display(df.sort_values(text,ascending=False).tail(10))

In [81]:
headtail10(외국인역대성적,['경기수','승률'])

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
5,니퍼트,2016,두산,2.95,701,151,15,57,9,142,NaN,22,3,0.880,25
98,헥터,2017,KIA,3.48,854,221,21,45,5,149,NaN,20,5,0.800,25
37,보우덴,2016,두산,3.80,742,159,17,54,6,160,NaN,18,7,0.720,25
90,해커,2015,NC,3.13,833,174,14,36,25,164,NaN,19,5,0.792,24
25,린드블럼,2015,롯데,3.56,861,196,28,52,12,180,1987년 06월 15일,13,11,0.542,24
84,피어밴드,2015,넥센,4.67,774,202,23,61,12,137,NaN,13,11,0.542,24
17,레일리,2018,롯데,4.74,775,180,24,54,18,178,1988년 06월 29일,11,13,0.458,24
22,리즈,2011,LG,3.88,719,149,11,84,15,122,NaN,11,13,0.458,24
24,리즈,2013,LG,3.06,837,153,11,88,20,188,NaN,10,13,0.435,23
26,린드블럼,2016,롯데,5.28,791,197,28,77,9,148,1987년 06월 15일,10,13,0.435,23

******************** head ********************

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
10,레나도,2017,삼성,6.80,243,70,11,27,6,28,NaN,2,3,0.4,5
19,로저스,2016,한화,4.30,160,42,3,12,2,24,NaN,2,3,0.4,5
73,코프랜드,2016,LG,5.54,314,71,8,42,7,34,NaN,2,3,0.4,5
83,피노,2016,KT,7.15,191,62,4,15,4,23,NaN,2,3,0.4,5
62,에반,2015,KIA,4.44,115,30,0,13,1,25,NaN,4,0,1.0,4
66,울프,2014,SK,4.85,364,88,10,27,6,41,NaN,2,2,0.5,4
77,토마스,2014,KIA,4.44,210,55,3,19,1,51,NaN,2,2,0.5,4
65,올슨,2013,두산,6.52,180,41,2,27,5,35,NaN,1,1,0.5,2
64,오설리반,2017,넥센,15.75,43,17,2,2,1,6,NaN,0,2,0.0,2
11,레온,2016,삼성,11.25,40,16,2,1,1,7,NaN,0,1,0.0,1

In [82]:
headtail10(외국인역대성적,['승률','경기수'])

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
62,에반,2015,KIA,4.44,115,30,0,13,1,25,NaN,4,0,1.000,4
5,니퍼트,2016,두산,2.95,701,151,15,57,9,142,NaN,22,3,0.880,25
100,후랭코프,2018,두산,3.74,621,118,12,55,22,134,1988년 08월 27일,18,3,0.857,21
50,소사,2014,넥센,4.61,537,140,18,45,3,98,NaN,10,2,0.833,12
75,탈보트,2012,삼성,3.97,584,136,8,54,5,68,NaN,14,3,0.824,17
91,해커,2016,NC,3.45,587,132,14,31,10,119,NaN,13,3,0.812,16
98,헥터,2017,KIA,3.48,854,221,21,45,5,149,NaN,20,5,0.800,25
60,어센시오,2014,KIA,4.05,207,49,5,14,2,56,NaN,4,1,0.800,5
90,해커,2015,NC,3.13,833,174,14,36,25,164,NaN,19,5,0.792,24
28,린드블럼,2018,두산,2.88,681,142,16,38,8,157,1987년 06월 15일,15,4,0.789,19

******************** head ********************

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
23,리즈,2012,LG,3.69,656,138,6,68,9,144,NaN,5,12,0.294,17
31,마야,2015,두산,8.17,317,83,6,31,5,62,NaN,2,5,0.286,7
44,서캠프,2016,한화,6.31,194,54,5,17,5,36,NaN,2,5,0.286,7
88,해커,2013,NC,3.63,744,163,12,50,17,127,NaN,4,11,0.267,15
101,휠러,2018,한화,5.13,459,128,12,34,10,94,NaN,3,9,0.250,12
81,플란데,2016,삼성,7.60,330,92,13,33,1,56,NaN,2,6,0.250,8
13,레이예스,2014,SK,6.55,369,103,10,38,3,41,NaN,2,7,0.222,9
61,어윈,2015,KT,8.68,271,90,10,21,2,41,NaN,1,7,0.125,8
64,오설리반,2017,넥센,15.75,43,17,2,2,1,6,NaN,0,2,0.000,2
11,레온,2016,삼성,11.25,40,16,2,1,1,7,NaN,0,1,0.000,1

In [83]:
headtail10(외국인역대성적,['경기수'])

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
37,보우덴,2016,두산,3.80,742,159,17,54,6,160,NaN,18,7,0.720,25
98,헥터,2017,KIA,3.48,854,221,21,45,5,149,NaN,20,5,0.800,25
5,니퍼트,2016,두산,2.95,701,151,15,57,9,142,NaN,22,3,0.880,25
22,리즈,2011,LG,3.88,719,149,11,84,15,122,NaN,11,13,0.458,24
84,피어밴드,2015,넥센,4.67,774,202,23,61,12,137,NaN,13,11,0.542,24
25,린드블럼,2015,롯데,3.56,861,196,28,52,12,180,1987년 06월 15일,13,11,0.542,24
90,해커,2015,NC,3.13,833,174,14,36,25,164,NaN,19,5,0.792,24
17,레일리,2018,롯데,4.74,775,180,24,54,18,178,1988년 06월 29일,11,13,0.458,24
24,리즈,2013,LG,3.06,837,153,11,88,20,188,NaN,10,13,0.435,23
70,지크,2016,KIA,5.27,705,188,16,68,5,125,NaN,10,13,0.435,23

******************** head ********************

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
83,피노,2016,KT,7.15,191,62,4,15,4,23,NaN,2,3,0.4,5
60,어센시오,2014,KIA,4.05,207,49,5,14,2,56,NaN,4,1,0.8,5
10,레나도,2017,삼성,6.80,243,70,11,27,6,28,NaN,2,3,0.4,5
73,코프랜드,2016,LG,5.54,314,71,8,42,7,34,NaN,2,3,0.4,5
62,에반,2015,KIA,4.44,115,30,0,13,1,25,NaN,4,0,1.0,4
66,울프,2014,SK,4.85,364,88,10,27,6,41,NaN,2,2,0.5,4
77,토마스,2014,KIA,4.44,210,55,3,19,1,51,NaN,2,2,0.5,4
64,오설리반,2017,넥센,15.75,43,17,2,2,1,6,NaN,0,2,0.0,2
65,올슨,2013,두산,6.52,180,41,2,27,5,35,NaN,1,1,0.5,2
11,레온,2016,삼성,11.25,40,16,2,1,1,7,NaN,0,1,0.0,1

In [ ]:
# 여기서 퇴출된 선수 명단을 삭제하자.